.detallesCurso {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
}

.tarjeta {
	display: flex;
	flex-direction: row;
}

.imagen {
	width: 30%;
	height: 30%;
}

.botones {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}
.comentarios {
	margin-top: 3%;
	display: flex;
	margin-left: 10%;
	flex-direction: column;
}

.inputComentario {
	margin-left: 1%;
	margin-right: 40%;
	display: flex;
	flex-direction: column;
	margin-top: 2%;
}
