.cursos-buscados {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	row-gap: 10px;
	min-width: "40%";
	margin-right: auto;
	margin-left: auto;
}

.caja {
	display: flex;
	flex-direction: column;
	margin-bottom: 2%;
}

.hijos {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 10px;
	margin-bottom: 2%;
}
