.cursos-buscados {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	row-gap: 10px;
	margin-bottom: 5%;
}

.caja {
	display: flex;
	flex-direction: column;
}

.hijos {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	column-gap: 10px;
	margin-bottom: 5%;
}
