.detallesCurso {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
}

.tarjeta {
	display: flex;
	flex-direction: row;
}

.imagen {
	width: 30%;
	height: 30%;
}

@media (max-width: 767px) {
	.imagen {
		display: none;
	}
}

.botones {
	margin-bottom: 10%;
	margin-top: 5%;
	display: flex;
	justify-content: flex-start;
	margin-left: 1%;
}

.comentarios {
	margin-top: 3%;
	margin-left: 1%;
}

.inputComentario {
	margin-left: 1%;
	margin-right: 40%;
}
