.contenedorHome {
	display: flex;
	flex-direction: row;
}

.curso-form {
	display: flex;
	flex-direction: column;
	border-right: 1px solid BLACK;
	margin-left: 2%;
	align-items: space-around;
}

.form-element {
	display: flex;
	justify-content: flex-start;
}
